backports.shutil-get-terminal-size==1.0.0
cement==2.10.12
cfoundation==0.2.2
colorama==0.3.9
cursor==1.2.0
enum34==1.1.6
halo==0.0.12
log-symbols==0.0.11
munch==2.3.2
pydash==4.5.0
PyYAML==3.12
six==1.11.0
spinners==0.0.19
termcolor==1.1.0
